{% extends 'mail_sender/base.html' %}

{% block content %}

    <div class="table">
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Email</th>
                <th scope="col">ФИО</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        {{ object.email }}
                    </td>
                    <td>
                        {{ object.full_name }}
                    </td>
                    <td>
                        <a href="{% url 'mail_sender:client_detail' object.pk %}">Подробнее</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>

{% endblock %}