{% extends 'mail_sender/base.html' %}

{% block content %}

    <div class="table">
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                <th scope="col">Время старта</th>
                <th scope="col">Время окончания</th>
                <th scope="col">Статус</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        {{ object.name }}
                    </td>
                    <td>
                        {{ object.start_time }}
                    </td>
                    <td>
                        {{ object.stop_time }}
                    </td>
                    <td>
                        {{ object.status }}
                    </td>
                    <td>
                        <a href="{% url 'mail_sender:mails_detail' object.pk %}">Подробнее</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>

{% endblock %}