{% extends 'mail_sender/base.html' %}

{% block content %}

    <div class="col-md-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <p>Вы точно хотите удалить сообщение {{ object.title }} ?</p>
                            <button type="submit" class="btn btn-danger">Удалить</button>
                            <a href="{% url 'mail_sender:list_messages' %}"
                               class="btn btn-dark">Отмена</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}