{% extends 'mail_sender/base.html' %}

{% block content %}

    <form method="post">
            {% csrf_token %}
            <div class="row-cols-2 align-items-center">
                <div class="container-fluid ">
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a href="{% url 'mail_sender:mails_list' %}" class="btn btn-danger ">Отмена</a>
                </div>
            </div>
        </form>

{% endblock %}