{% extends 'mail_sender/base.html' %}

{% block content %}

    <div class="d-grid gap-2 d-md-flex mb-4 justify-content-md-end">
        <a href="{% url 'mail_sender:create_client' %}" class="btn btn-outline-primary ">Добавить клиента</a>
        <a href="{% url 'mail_sender:client_list' %}" class="btn btn-outline-primary ">Мои клиенты</a>
        <a href="{% url 'mail_sender:mails_create' %}" class="btn btn-outline-secondary ">Создать новую рассылку</a>
        <a href="{% url 'mail_sender:mails_list' %}" class="btn btn-outline-secondary ">Мои рассылки</a>
    </div>

{% endblock %}