{% extends 'mail_sender/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="col-3">

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.body }}</p>

            </div>
            <div class="footer">
                 <a href="{% url 'blog:article_update' %}" class="btn btn-success">Редактировать</a>
                <a href="{% url 'blog:article_delete' %}" class="btn btn-danger">Удалить</a>
            </div>
        </div>

    </div>
{% endblock %}