{% extends 'mail_sender/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="col-8">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row text-center">
                <H3>
                    {% if object %}
                    Редактирование
                    {% else %}
                    Создание новой
                    {% endif %}
                    статьи.
                </H3>
            </div>
            <div class="row-cols-3 ">
                <div class="container-fluid align-content-start">
                    {{ form | crispy }}
                    {% if perms.blog.add_article or perms.blog.change_article %}
                        <button type="submit" class="btn btn-primary">
                            {% if object %}
                                Изменить
                            {% else %}
                                Опубликовать
                            {% endif %}
                        </button>
                    {% endif %}
                    <a href="{% url 'mail_sender:personal_area' %}" class="btn btn-danger ">Отмена</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}