{% extends 'mail_sender/base.html' %}
{% load crispy_forms_filters %}


{% block content %}

    <div class="row">
        <div class="col-3"></div>
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header">Восстановление пароля</div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <h5>На Вашу почту будут отправлены инструкции по изменению пароля.</h5>
                            <button type="submit" class="w-75 btn btn-lg btn-primary ">Изменить пароль</button>
                        </form>
                </div>
                    <div class="card-footer"></div>
            </div>
        </div>
    </div>

{% endblock %}